<?php

$RABBIT_SERVERS = array(
    array(
        'host' => 'rabbit@10.20.0.1',
        'cookie' => 'COOKIE_HERE'
      ),
    array(
        'host' => 'rabbit@10.20.0.2',
        'cookie' => 'COOKIE_HERE'
      ),
    array(
        'host' => 'rabbit@10.20.0.3',
        'cookie' => 'COOKIE_HERE'
      )
  );